.cont-posts {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
    
  }
  
  .card-display {
    border: 1px solid #afafaf;
    box-sizing: border-box;
    /* font-size: .5em; */
    margin: 12px 5px;
    /* flex: 1 calc(33% - 10px); */
  }
  .img-VisitD {
    margin: 15px;
    box-shadow: 10px 10px 20px 1px #737373;
    border-radius: 5px;
    max-width: 100%;
  }
  .container-search {
    width: 280px;
    margin: auto;
    /* background-color: aquamarine; */
  }
  .input-wraper {
    padding: 15px;
  }
  .input-container {
    margin: 3px 0px 10px;
    /* padding: 5px; */
    padding: .375rem .75rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .container-button-wish {
    /* margin: 20px 0px 20px 0px; */
    margin:2em auto;
  }
.msg-list {
  border: 1px solid lightblue;
  padding: 3px;
  border-radius: 5px;
}




  
  