.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

/*.imgSigla, .sigla {
  display: inline-block;
}

 .imgSigla {
  vertical-align: middle; 
  padding-top: 10px; 
} */

 .sigla {
  padding: 0px 5px;
  font-size: 1rem;
  font-family: georgia;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.padding-logo-footer {
  padding: 5px 0px;
}
.padding-top {
  padding-top: 50px;
}

.footer {
  background-color: #fff;
  /* background-color: #343a40; */
  color: #fff;
  margin: 30px 0px;
  padding: 20px 0px 20px 50px;
}
.margin-center {
  margin-left: auto;
}
